server {
    listen 80;
    server_name nathanieljshepherd.com www.nathanieljshepherd.com;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name nathanieljshepherd.com www.nathanieljshepherd.com;

    ssl_certificate /etc/letsencrypt/live/nathanieljshepherd.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/nathanieljshepherd.com/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    location /static/ {
        alias /opt/PersonalWebsite/backend/static/;
        access_log off;
        expires 30d;
    }

    location /uploads/ {
        alias /opt/PersonalWebsite/backend/uploads/;
        access_log off;
        expires 7d;
    }

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}